# Julia Desmazes, 2026, human made code
 
set ::INSTR_LENGTH 3

# instructions
set ::INSTR_EXTEST 0x00
set ::INSTR_IDCODE 0x01
set ::INSTR_SAMPLE_PRELOAD 0x02
set ::INSTR_USER_REG 0x03
set ::INSTR_SCAN_CHAIN 0x04
set ::INSTR_BYPASS 0x07

# USER REG DEFINES - 16 bit wide bfloat16
set ::USER_REG_W 16 
set ::USER_REG_UNIT_MAX 3
set ::USER_REG_REG_MAX 3

# SCAN CHAIN DEFINES - 341 flops in systolic array chain
set ::SCAN_CHAIN_LENGTH 341 

proc assert {cond {msg "assertion failed"}} {
    if {![uplevel 1 expr $cond]} {
        error $msg
    }
}

proc read_idcode { tap } {
    global INSTR_IDCODE
	set data 0xc0fe
	irscan $tap.tap $INSTR_IDCODE -endstate IDLE
    set ret [drscan $tap.tap 32 $data -endstate IDLE] 
    return $ret
}

proc debug_loop_read_idcode { tap } {
    global INSTR_IDCODE
	set data 0xc0fe
    while { 1 } {	
        puts "load $INSTR_IDCODE"
        irscan $tap.tap $INSTR_IDCODE -endstate IDLE
        set ret [drscan $tap.tap 32 $data -endstate IDLE]
    } 
}

# print the user reg name corresponding to reg 
proc print_reg_id { reg } {
    switch $reg {
       0 { return "weight" }
       1 { return "multiplicand ( input data )" }
       2 { return "summand ( input data )" }
       3 { return "multiplication result (internal computation)" }
       default { assert {0} "unexpected register id, got : $reg" }
    }
}

# read internal mac unit register, used for debugging mac operations
proc read_user_reg { tap unit reg } {
    global INSTR_USER_REG
    global USER_REG_W
    global USER_REG_UNIT_MAX
    global USER_REG_REG_MAX
    
    assert [ expr { $unit <= $USER_REG_UNIT_MAX }]
    assert [ expr { $reg <= $USER_REG_REG_MAX }]
    
    set addr [expr {$unit*4+$reg}]
    irscan $tap.tap $INSTR_USER_REG -endstate IDLE 
    drscan $tap.tap $USER_REG_W $addr -endstate IDLE 
    set ret [drscan $tap.tap $USER_REG_W 0x0]
    return $ret
}

# use low level openocd utilities to validate tap behavior 
proc set_validate_tap { } {
	verify_jtag enable
	verify_ircapture enable
}

# this test assumes the jtag probe is in control of the systolic array clock
proc read_scan_chain { tap } {
	global SCAN_CHAIN_LENGTH 
	gloabl INSTR_SCAN_CHAIN
	irscan $tap.tap $INSTR_SCAN_CHAIN -endstate IDLE
	# cut into 32 bit chunks
	set sc {}
	for {set i 0} {$i <= $INSTR_SCAN_CHAIN} {incr $i} {
		llapend sc [drscan $tap.tap  1 -endstate DRPAUSE]
	}
	return $sc
}
proc print_scan_chain { sc } {
	set i 0
	puts "Scan chain :"
	foreach s $sc {
		puts "$i : $s"
		incr i 
	}
}


source [find interface/jlink.cfg]
transport select jtag

set SPEED 2000

jtag_rclk $SPEED
adapter speed $SPEED
reset_config none

# creat new tap 
set _CHIPNAME tpu

jtag newtap $_CHIPNAME tap -irlen $INSTR_LENGTH -expected-id 0x2beef0d7

init

set_validate_tap

puts "idcode : [read_idcode $_CHIPNAME]"

for {set u 0} {$u <= $USER_REG_UNIT_MAX} {incr u} {
    for {set r 0} {$r <= $USER_REG_REG_MAX} {incr r} {
        puts "read internal register $u:$r : 0x[read_user_reg $_CHIPNAME $u $r] - [print_reg_id $r]"  
    }
}

set sc [read_scan_chain $tap]
print_scan_chain $sc



