# Julia Desmazes, 2026, human made code
set ::INSTR_LENGTH 6
set ::INSTR_IDCODE 0x09
set SPEED 2000

proc read_idcode { tap } {
    global INSTR_LENGTH
    global INSTR_IDCODE
	set data 0
	irscan $tap.tap $INSTR_IDCODE -endstate IDLE
    return [drscan $tap.tap 32 $data] 
}

source [find interface/jlink.cfg]
transport select jtag

jtag_rclk $SPEED
adapter speed $SPEED
reset_config none

# creat new tap 
set _CHIPNAME tpu
jtag newtap $_CHIPNAME tap -irlen $INSTR_LENGTH 

init

puts "idcode : [read_idcode $_CHIPNAME]"

